<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>emoji-input</h1>
      <h3>Examples</h3>
      <code> {{'<'}}emoji-input [(model)]="testVar" fullWidth{{'>'}}
        {{'<'}}input type="text" [(ngModel)]="testModel"{{'/>'}}
        {{'<'}}/emoji-input{{'>'}}</code>
      <br>
      <emoji-input [(model)]="testModel" fullWidth>
        <input type="text" [(ngModel)]="testModel"/>
      </emoji-input>
      {{testModel}}
      <br><br>
      <code> {{'<'}}emoji-input [(model)]="testVar" fullWidth{{'>'}}
        {{'<'}}textarea type="text" [(ngModel)]="testModel"{{'>'}}{{'<'}}textarea{{'>'}}
        {{'<'}}/emoji-input{{'>'}}</code>
      <br>
      <emoji-input [(model)]="testModel2" fullWidth>
        <textarea type="text" [(ngModel)]="testModel2"></textarea>
      </emoji-input>
      {{testModel2}}
      <br><br>
      <code> {{'<'}}emoji-input [(model)]="testVar"{{'>'}}
      {{'<'}}input type="text" [(ngModel)]="testModel"{{'/>'}}
      {{'<'}}/emoji-input{{'>'}}</code>
      <br>
      <emoji-input [(model)]="testModel3">
        <input type="text" [(ngModel)]="testModel3"/>
      </emoji-input>
      {{testModel3}}
      <br><br>
      <code> {{'<'}}emoji-input [(model)]="testVar"{{'>'}}
        {{'<'}}textarea type="text" [(ngModel)]="testModel"{{'>'}}{{'<'}}textarea{{'>'}}
        {{'<'}}/emoji-input{{'>'}}</code>
      <br>
      <emoji-input [(model)]="testModel4">
        <textarea type="text" [(ngModel)]="testModel4"></textarea>
      </emoji-input>
      {{testModel4}}
      <br><br>
      <code>EmojiSerice</code>
      <p>EmojiService service provider</p>
      <code>new EmojiService().emojify(str)</code>
      <code>new EmojiService().getAll()</code>
      <code>new EmojiService().get()</code>
    </div>
  </div>
</div>
